 @!component('emails/main_template', {
  tituloEmail: 'Definir nova senha',
  tituloTexto: `Olá, ${ name }!`,
  corpoTexto:
    `Recebemos um pedido de criação de usuario relacionado ao seu e-mail.` +
    ` Se reconhece esta ação, clique no link abaixo para criar uma nova senha e acessar o sistema ${propsPadrao.nomeApp}.`,
  url: url,
  textoUrl: 'Definir senha',
  ...propsPadrao,
})

