 @!component('emails/main_template', {
  tituloEmail: 'Recuperação de senha',
  tituloTexto: `Olá, ${ name }!`,
  corpoTexto:
    `Recebemos um pedido de recuperação da conta relacionada ao seu e-mail no sistema ${ nomeApp }. Se reconhece esta ação, clique no link abaixo para alterar sua senha.`,
  url: url,
  textoUrl: 'Alterar senha',
  nomeApp: nomeApp,
  nomeCliente: nomeCliente,
  tema: tema,
})
